#breadcrumb {
	width: 850px;
	margin: 0 auto;
	display: flex;
}
#breadcrumb > li {
	list-style: none;
}
#breadcrumb > li::first-letter {
	text-transform: uppercase;
}
#breadcrumb > li::after {
	content: " /";
	color: #bbb;
	margin-left: 5px;
	margin-right: 10px;
}
#breadcrumb > li:last-of-type {
	color: #999;
}
#breadcrumb > li:last-of-type::after {
	content: "";
}