#breadcrumb {
	width: 90%;
	margin: 0 auto 20px;
	display: flex;
}
#breadcrumb > li {
	list-style: none;
}
#breadcrumb > li::first-letter {
	text-transform: uppercase;
}
#breadcrumb > li:last-of-type {
	color: #999;
}
#breadcrumb > li > a:hover {
	text-decoration: underline;
	color: var( --cyanHover );
}
#breadcrumb > img {
	width: 5px;
	margin-left: 9px;
	margin-right: 11px;
	opacity: .6;
}
@media ( max-width: 850px ) {
	#breadcrumb {
		width: 96%;
		margin-left: 4%;
	}
}