.footer {
	background-color: whitesmoke;
	position: relative;
	margin-top: 20px;
}
.footer .puntas {
	background: url("/assets/svg/puntasfooter.svg");
	width: 100%;
	height: 30px;
	position: relative;
	top: -15px;
}
.footer > nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2% 2% 3%;
}
.footer > nav > ul {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.footer > nav > ul > li {
	list-style: none;
}
.footer > nav > ul.paginasinternas > li > a {
	height: 50px;
	display: flex;
	align-items: center;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
.footer > nav > ul.paginasinternas > li > a:hover {
	text-decoration: underline;
	color: var(--cyan);
}
.footer > nav > ul.redes > li > a > img {
	width: 20px;
	height: 30px;
	display: block;
}
.footer > nav > ul.redes > li:hover > a > img {
	opacity: .6;
}

@media ( max-width: 850px ) {
	.footer > nav > ul.paginasinternas {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0px;
	}
}
