.productos {
	width: 100%;
	display: flex;
	gap: 1%;
}
.productos .producto {
	width: 25%;
}
.productos .producto img {
	width: 100%;
}
.productos .producto .precio {
	color: var(--rojo);
	font-weight: bold;
}

@media ( max-width: 850px ) {
	.productos {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 4%;
		justify-content: center;
	}
	.productos .producto {
		width: 45%;
		/* display: flex; */
		/* margin: 10px 0; */
	}
	/* .productos .producto .imagen {
		width: 40%;
	} */
}
