.productos {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 3%;
	padding: 0 3%;
	margin-top: 1%;
}
.productos .producto {
	width: 17.6%;
	margin-bottom: 40px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
.productos .producto:hover {
	opacity: .8;
}
.productos .producto img {
	width: 100%;
}
.productos .producto .precio {
	color: var(--rojo);
	font-weight: bold;
}

@media ( max-width: 850px ) {
	.productos {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 4%;
		justify-content: center;
	}
	.productos .producto {
		width: 45%;
		/* display: flex; */
		/* margin: 10px 0; */
	}
	/* .productos .producto .imagen {
		width: 40%;
	} */
}
