.productos {
	width: 80%;
	display: flex;
}
.productos .producto {
	width: 25%;
}
.productos .producto img {
	width: 100%;
}
.productos .producto .precio {
	color: var(--rojo);
	font-weight: bold;
}

@media ( max-width: 850px ) {
	.productos {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.productos .producto {
		width: 100%;
	}
}
