.header {
	/* background: white; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 0px 30px;
	z-index: 4;
	position: relative;
}
.header.estoyenelhome {
	background-color: transparent;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
}
.header > div {
	cursor: pointer;
}